/* Color.css */

/* Background Colors */
body {
    background-color: rgba(248, 241, 236, 1);
}

/* Text Colors */
.nav a,
.para_one,
.para_two,
.para_three,
.para_four,
.content_warnings,
blockquote,
.main_content span {
    color: rgba(24, 52, 37, 1);
}

.nav a:hover,
.author_works p {
    color: rgba(192, 97, 69, 1);
}

.spot_light header {
    color: rgb(242, 198, 184, 0.3);
}

.author-occupation {
    color: rgba(192, 98, 69, 0.649);
}

/* Box Shadows */
.book_image img {
    box-shadow: 5px 5px 5px rgb(82, 67, 61);
}

/* Border Colors */
blockquote {
    border-left: 5px solid #c2c7cc;
}

/* Background Colors for Other Elements */
.author-avatar::before,
.author-avatar::after {
    background-color: rgba(192, 97, 69, 1);
}