/************* MEDIA SCREENS *************/

/*************No less than 1215px, no greater than 1240px*************/
@media screen and (min-width: 1215px)and (max-width: 1240px){
    .publish-info{
     width: 300px;
    }
 
    .content-body{
     bottom: 849px;
    }
 }
 
 /*************No less than 950px, no greater than 1219px*************/
 @media screen and (min-width: 950px) and (max-width: 1216px)  {
     .container{
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         grid-template-areas:
         "nav"
         "hd"
         "main"
         "sp"
         "ab"
         "ft";
     }
 
     .header img{
         margin-top: 55px;
         width: 900px;
     }
 
     .publish-info{
         width: 300px;
     }
 
     #main_content h4{
         width: 500px;
         font-size: 20px;
         bottom: 65px;
         left: 100px;
     }
         
     #main_content h6{
         bottom: 80px;
         left: 40px;
         width: 250px;
         font-size: 10px;
         color: rgba(24, 52, 37, 0.49);
     }
         
     .star_rating img{
         right: 50px;
         top: 130px;
     }
         
     .synopsis-genres,
     .synopsis-top,    
     .synopsis-bottom{
         width: 500px;
         left: 17%;
         font-size: 16px;
     }
        
     .synopsis-genres{
         bottom: 50px;
             
     }
         
     .synopsis-top{
         bottom: 5px;      
     }
         
     .synopsis-bottom{
         top: 5px;
     }
 
     #sub-postings{
         height: 700px;
     }
     #about-Me p{
         width: 400px;
     }
 
     #about-Me{
         margin-bottom: 50px;
     }
 }
 
 /*************No less than 600px, no greater than 950px*************/
 @media screen and (min-width: 601px) and (max-width: 951px){
     .container{
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         grid-template-areas:
         "nav"
         "hd"
         "main"
         "sp"
         "ab"
         "ft";
     }
 
     .header img{
         margin-top: 55px;
         margin-left: 90px;
         width: 749px;
     }
     
     .publish-info{
         width: 253px;
     }
 
     #main_content{
         width: 600px;
         left:180px;
     }
 
     #main_content h4{
         width: 500px;
         font-size: 20px;
         bottom: 65px;
         left: 120px;
     }
         
     #main_content h6{
         bottom: 80px;
         left:73px;
         width: 250px;
         font-size: 10px;
         color: rgba(24, 52, 37, 0.49);
     }
 
     .content-body {
         margin-top: 247px;
     }
 
     .star_rating img{
         right: 12px;
         top: 130px;
     }
 
     .synopsis-genres,
     .synopsis-top,    
     .synopsis-bottom{
         width: 333px;
         left: 21%;
         font-size: 13px;
     }
 
     .synopsis-genres{
         bottom: 65px;
     }
 
     .synopsis-top{
         bottom: 25px;
     }
 
     .synopsis-bottom{
         bottom: 12px;
     }
 
     #sub-postings {
         position: relative;
         left: 59px;
         height: 800px;
     }
 
     #about-Me{
         margin-bottom: 50px;
     }
 
     #about-Me p{
         width: 300px;
 
     }
 
 }
 
 /*************No less than 320px, no greater than 601px*************/
 @media screen and (min-width:320px) and (max-width: 600px){
     .container{
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         grid-template-areas:
         "nav"
         "hd"
         "main"
         "sp"
         "ab"
         "ft";
     }
 
     #nav{
         position: fixed;
         display: flex;
         z-index: 1;
         flex-direction: row;
         align-items:center;
         justify-content:center;
         height: 50px;
         top:0;
         width: 100%;
     }
     
     .header{
         align-items: center;
         justify-content: center;
     }
     
     .header img{
         position: relative;
         left: 50px;
         margin-top: 55px;
         width: 600px
         ;
     }
     
     #feature_thumbnail{
         display: flex;
         position: relative;
         flex-direction: column;
         bottom: 66%;
         left: 40px;
         width:15vw;
     }
         
         
     .book-image img{
         height: 375px;
         box-shadow: 5px 5px 5px rgb(194, 152, 127);
     }
         
         /*Publisher Information*/
     .publish-info{
         display: none;
     }
         
         /*Text of Post****************************************************8*/
         
     #main_content{
         width: 318px;
         height: 540px;
         margin-top: 500px;
         left: 240px;
         background-size: auto;
         border-radius: 10px 20px 20px 20px;
     }
     
     .content-body{
         grid-template-columns:1fr;
         grid-template-rows: auto;
         grid-template-areas:
         "bt"
         "pd"
         "star"
         "g"
         "p1"
         "p2";
     }
         
     #main_content h4{
         width: 400px;
         font-size: 20px;
         bottom: 290px;
         left: 15%
     }
         
     #main_content h6{
         bottom: 355px;
         left: 125px;
         width:250px;
         font-size: 10px;
         color: rgba(24, 52, 37, 0.49);
     }
         
     .star_rating img{
         left: 125px;
         top: -50px;
     }
         
     .synopsis-genres,
     .synopsis-top,    
     .synopsis-bottom{
         width: 300px;
         left: 100px;
         font-size: 12px;
     }
        
     .synopsis-genres{
         bottom: 190px;
             
     }
         
     .synopsis-top{
         bottom: 170px;      
     }
         
     .synopsis-bottom{
         bottom: 150px;
     }
     
     #sub-postings{
         flex-direction: column;
         width: 674px;
         align-items: center;
         margin-left: 30px;
     }
     
     #sub-postings img{
         width:300px;
         height: 500px;
         border-radius: 0px 5px 20px 20px;
     }
         
         /*************Subpost Header and subheader*************/
     .previewTwo {
         position: relative;
         bottom: 600px;
         height: 50px;
     }
     
 
     .previewOne h5,
     .previewTwo h5{
         font-size: 20px;
         width: 130px;
         left: 123px;
         bottom: 525px;
     }
         
     .previewOne h4,
     .previewTwo h4{
         font-size: 16px;
         width: 300px;
         left: 86px;
         bottom: 535px;
     }
         
     .previewOne p,
     .previewTwo p,
     .previewOne span,
     .previewTwo span{
         font-size: 14px;
     }
         
     .previewOne p,
     .previewTwo p{
         width: 267px;
         left: 92px;
         bottom: 536px;
         text-indent: 10px;
     }
 
     .previewOne span{
         left: 263px;
         bottom: 551px;
     }
         
     .previewTwo span{
         left: 264px;
         bottom: 434px;
     }
 
     #about-Me{
         margin-bottom: 50px;
     }
     
     #about-Me p{
         width: 300px;
         
     }
 
 }