@import url("layout-review.css");
@import url("typography-review.css");
@import url("responsive-review.css");

body{
    margin: 0px;
    background-color: rgba(248, 241, 236, 1);
}

/* Nagivation Bar */
.nav  a{
    padding: 50px;
    text-decoration: none;
    color: rgba(24, 52, 37, 1);
}

.nav a:hover{
    color: rgba(192, 97, 69, 1);
}

/* Feature Image/Banner */
.spot_light header{
    position: absolute;
    font-size: 90px;
    color: rgb(242, 198, 184, .3);
    z-index: 0;

}

.book_image img{
    position: relative;
    width: 250px;
    height: 375px;
    z-index: 0;
    box-shadow: 5px 5px 5px rgb(82, 67, 61);
}

.star_rating img{ 
    position: absolute;
    top: 435px;
    left: 650px;
    height: 190px;
    transform: rotate(90deg);
}

/*Main Content*/
.para_one,
.para_two,
.para_three,
.para_four,
.content_warnings{
    font-size: 16px;  
    margin-left: 10px;
    margin-left: 10px;
    color: rgba(24, 52, 37, 1);
}

blockquote{
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-left: 5px solid #c2c7cc;
    color: rgba(24, 52, 37, 1);

}

.main_content span{
    color: rgba(24, 52, 37, 1);
}

/* Publisher Information */
.publish_info li{
    list-style: none;
    line-height: 25px;
}

/* Affiliate links */
.affiliate_links img{
    width: 40px;
    height: 50px;
}

/* Other author works */
.author_works p{
    position: relative;
    font-size: 20px;
    color: rgba(192, 97, 69, 1);
}

.author_works li{
    list-style: none;
    margin: 15px;
}

.author_works img{
    width: 100px;
    height: 160px; 
}

.author-entry{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "auv"
    "aun"
    "auo"
    "aub"
    "aus";
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    align-content: center;
    justify-items: center;
    grid-area: ae;
}

.author-avatar{
    display: grid;
    grid-template-columns: 1fr 105px 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 5px;
    grid-area: auv;
}
.author-avatar::before,
.author-avatar::after{
    display: block;
    content: "";
    height: .5px;
    width: 300px;
    background-color:rgba(192, 97, 69, 1);;
    
    
}

.author-avatar img{
    width:105px;
    height: 106px;
    border-radius: 80px;
}

.author-name{
    text-align: center;
    grid-area: aun;
}

.author-occupation{
    font-size: 14px;
    text-align: center;
    color: rgba(192, 98, 69, 0.649);
    grid-area: auo;
}
.author-bio{
    text-align: center;
    width: 650px;
    grid-area: aub;
}

.author-socials{
    display: flex;
    justify-content: center;
    gap: 10px;
    grid-area: aus;
}
.author-socials img{
    width: 30px;
    height: 30px;
}