@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap');

body{
    font-family: "Old Standard TT",serif;
}

.author_works p{
    font-family: "Sacramento", cursive;
    font-weight: bold;
}

/*Addtionaltypography styles */
.publish_info span, .main_content span{
    font-weight: bold;
}

blockquote{
    font-style: italic;
    font-weight: bolder;
}