@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap');

body{
    font-family: "Old Standard TT", serif;
}

#about-Me h4, #main_content h4{
    font-family: "Sacramento", cursive;
}

/*Addtionaltypography styles */
.publish-info span, .synopsis-genres{
    font-weight: bold;
}

.synopsis-top, .synopsis-bottom{
    font-style: italic;
}

